.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.TouchBtn {
  padding: 0.5rem 1rem;
  white-space: nowrap;
  border-radius: 0.3rem;
  font-size: 20px;
  font-weight: 600;
  border: none;
  cursor: pointer;

}

.SignUp{
  padding: 0.5rem 1rem;
  white-space: nowrap;
  border-radius: 0.3rem;
  font-size: 20px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}


*{
  font-family: monospace;
}

.invisible {
  display: none;
}
